/* Estilos para el cuerpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* Estilos para el encabezado h1 */
h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}
h1 {
    color: #6b2828;
    text-align: center;
    margin-top: 30px;
}